<style>
.list-groups{
color:white;
background-color:#00B85C;
}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="color:white">
      <a class="navbar-brand" href="/" style="font-size:200%;color:white;"><b>Groupit</b></a>
    </div>
    <% if user_signed_in? %>
    <div>
      <ul class="nav navbar-nav navbar-right" style="color:white">      
	
	<li><a class="user_button dropdown-toggle" type="button" 		id="groups-menu" data-toggle="dropdown" style="font-size:135%;color:white;">Groups</a>  
	<ul class="dropdown-menu" role="menu" aria-labelledby="groups-menu">
	
	<li class="list-groups">
	Group 1
	</li>
	<li class="list-groups">
	Group 2
	</li>
	
	</ul>	
	
	</li>

        <li style="font-size:135%;color:white;"><%= link_to "#{current_user.name}", edit_user_path(current_user), class: :user_button %></li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>
