<h1>All Groups</h1>
<%= link_to 'New group', new_group_path %>
<table>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
 
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= link_to 'Show', group_path(group) %></td>
    </tr>
  <% end %>
</table>
